body {
  padding: 3rem;
  background-color: white;
  color: #3c3836;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-mode {
  background-color: #282828;
  color: #ebdbb2;
}

a:link {
  color: #458588;
}
