body {
  padding: 3rem;
  background-color: #DCDCDC;
  color: #3c3836;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-mode {
  background-color: #282828;
  color: #ebdbb2;
}

.dark-mode button {
	background-color: #282828;
  	border-color: #ebdbb2;
  	color: #ebdbb2;
  	padding: 15px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	width: 170px;
}

button {
  	background-color: #DCDCDC;
  	border-color: #3c3836;
  	color: #3c3836;
  	padding: 15px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	width: 170px;
}

#mySidenav a {
	position: absolute;
	left: -150px;
	transition: 0.3s;
	padding:15px
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0; 
}

#home {
  top: 20px;
}

#python {
  top: 80px;
}

#c {
  top: 140px;
}

#htmlcssjs {
  top: 200px;
}
#dark {
	top: 320px;
}

a:link a:visited{
  color: blue;
}

.dark-mode a:link, .dark-mode a:visited{
  color: cyan;
}