body {
  padding: 3rem 3rem 3rem 5rem;
  background-color: #DCDCDC;
  color: #003366;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

headtop{
	position: fixed;
	text-align:center;
	right: 5px;
	top: 5px;
}

.container img {
	width:50px;
}

.dark-mode .container .one {
	width:0px;  
	padding: 25.5px;
	background: url(https://i.imgur.com/mXd7Wmo.png);
	background-size: 50px;
}

.dark-mode .container .two {
	width:0px;  
	padding: 25.5px;
	background: url(https://i.imgur.com/ul2LrnQ.png);
	background-size: 50px;
}

.bar{
  	transition: .3s;
}

.headbar{
	position:fixed;
	top: -70px;
	left:0;
	right:0;
	padding: 10px;
	width:100%;
	transition: 0.4s;
	opacity: 0;
}

.change .headbar {
	background-color: #003366;
	top:0px;
	opacity:100;
}

.dark-mode .change .headbar {
	background-color: #ebdbb2;
}


.container {
	display: inline-block;
	cursor: pointer;
}

.change .bar {
  opacity:0;
}

.dark-mode footer{
	border-color: #ebdbb2;
	background-color: #ebdbb2;
}

footer {
	display: block;
	border-style: solid;
	border-color: #003366;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 8px;
	background-color: #003366;
}

footer a:link, footer a:visited, .dark-mode footer a:link, .dark-mode footer a:visited{
  color: black;
  text-decoration: none;
}

h1, h3{
	text-align: center;
}

.dark-mode {
  background-color: #282828;
  color: #ebdbb2;
}

.dark-mode button {
	background-color: #282828;
  	border-color: #ebdbb2;
  	color: #ebdbb2;
}

button {
  	background-color: #DCDCDC;
  	border-color: #003366;
  	color: #003366;
  	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	width: 160px;

}

#special {
  	padding: 15px 15px;
  	width: 180px;
  	border-right-width: 31px;

}

#mySidenav a {
	position: absolute;
	left: -150px;
	transition: .3s;
	padding:15px
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0px; 
}

#dark {
	bottom:50px;
}

a:link a:visited{
  color: blue;
}

.dark-mode a:link, .dark-mode a:visited{
  color: cyan;
}